html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
    .row {
        width: 100%;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
}

html {
  position: relative;
  min-height: 100%;
}
.description {
    width: 55%;
    height: 100%;
    font-size: 12px;
}
.card {
    max-height: 20%;
    background-color: #313b4b;
    color: #bfbfbf;
}

.readmore {
    text-decoration: none;
    color: lightslategray;
    font-size: 14px;
}
.form-control-sm {
    background-color: #bfbfbf;
}
.logo {
    width: 40px;
    height: 40px;
   
}
textarea {
    background-color: #bfbfbf;
}
.navbar {
    background-color: #212529;
}
.nav-link {
    text-decoration: none;
    color: #bfbfbf;
}

.viewrow {
    margin-left:12%;
    width: 100%;
  
}
body {
    color:#bfbfbf;
    background-color: #15191d;
    margin-bottom: 60px;
}

.letter-count {
    margin-left: 20px;
}

.delete{
    width: 5px;
    height:5px;
    
}

.main {
    margin-left: 15%;
    width: 70%;
}
